@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215.29 19.32% 34.51%;
    --muted: 214.29 23.14% 91.99%;
    --muted-foreground: 211 11% 36%;
    --popover: 211 70% 100%;
    --popover-foreground: 215.29 19.32% 34.51%;
    --card: 210 40% 96.08%;
    --card-foreground: 215.29 19.32% 34.51%;
    --border: 214.29 29.17% 90.59%;
    --input: 211 11% 95%;
    --primary: 173.41 80.39% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214.29 67.8% 95.22%;
    --secondary-foreground: 211 10% 32%;
    --accent: 210 100% 97.15%;
    --accent-foreground: 211 10% 32%;
    --destructive: 339.53 100% 50%;
    --destructive-foreground: 339.56 100% 94.96%;
    --ring: 173.41 80.39% 40%;
    --chart-1: 173.41 80.39% 40%;
    --chart-2: 214.29 67.8% 95.22%;
    --chart-3: 210 100% 97.15%;
    --chart-4: 214.29 67.8% 98.22%;
    --chart-5: 173.41 83.39% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 199 42% 9%;
    --foreground: 197 32% 81%;
    --muted: 199 12% 15%;
    --muted-foreground: 199 12% 65%;
    --popover: 199 42% 6%;
    --popover-foreground: 197 32% 91%;
    --card: 199 42% 7%;
    --card-foreground: 197 32% 86%;
    --border: 199 32% 14%;
    --input: 199 32% 17%;
    --primary: 175 59% 55%;
    --primary-foreground: 175 59% 15%;
    --secondary: 175 30% 25%;
    --secondary-foreground: 175 30% 85%;
    --accent: 199 42% 24%;
    --accent-foreground: 199 42% 84%;
    --destructive: 0 94% 57%;
    --destructive-foreground: 0 0% 100%;
    --ring: 175 59% 55%;
    --chart-1: 175 59% 55%;
    --chart-2: 175 30% 25%;
    --chart-3: 199 42% 24%;
    --chart-4: 175 30% 28%;
    --chart-5: 175 62% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
